.Form {
  width: 100%;
  direction: rtl;
}

.Form .FormGroup {
  padding: 12.5px 0;
  width: 100%;
  display: flex;
  justify-content: stretch;
  height: 108px;
}
.Form .FormSubmit {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 130px;
}
.Form .FormSubmit .Link {
  font-size: 17px;
  font-weight: 500;
}
.Form .FormSubmit .Link span {
  color: #244ba0;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 5px;
}
.SubmitButtonLabel {
  font-size: 20px;
  font-weight: 500;
}

.Form .FormGroup .MultiSelect {
  width: 100%;
  border-radius: 15px;
  padding: 15px;
}

.Form .FormGroup .Label {
  display: block;
  width: 100%;
}
