.InputGroup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  padding: 0 20px;
}

.Label {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.Input {
  width: 100%;
  opacity: 0.4;
  border-radius: 15px;
  border: 1px solid #33334c;
  padding: 15px;
}

.Input .Error {
  background-color: lighten(red, 25%);
}

.Error {
  position: relative;
  color: red;
  font-size: 14px;
}
